*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
}
body{
    height: 100vh;
    background: #dddddd;
    display: grid;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}
.calculator{
    background-color: rgb(66, 66, 153);
    padding:  10px;
    margin: auto;
    border-radius: 10px;
}
input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin: 10px;
}
.ac , del{
    background-color: rgb(125, 2, 2);
}
.symbols{
    background-color: rgb(214, 189, 0);
}
.NumpadBtns{
    background-color: rgb(0, 0, 59);
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display input{
    text-align: right;
    flex: 2;
    font-size: 45px;
    padding: 20px;
    background-color: rgb(26, 139, 101);
}
.special{
    background-color: rgb(26, 139, 101);
}
.equal{
    width: 145px;
    background-color: rgb(1, 73, 1);
}