body {
    background-color: rgb(253, 218, 224);
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    columns: pink;
    font-size: 5rem;
    text-align: center;
}
.input{
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}
.input::placeholder{
    outline-color: cyan;
}
.input:focus{
    outline-color: aqua;
}
.todos li.completed {
    text-decoration: line-through;
}