#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid black ;
}
#scoreText{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#resetBtn{
    width: 100px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 15px;
    cursor: pointer;
}